In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

## 2019 marathon

In [2]:
marathon_2019 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Marathon/2019-Results?gender=&agegroup=&bib=&firstname=&lastname=&page=1'
marathon_2019 = requests.post(marathon_2019)
marathon_2019.status_code
marathon_2019 = BeautifulSoup(marathon_2019.content, 'lxml')
print(marathon_2019.title)
marathon_2019_tables = marathon_2019.find_all('table', attrs = {'class': 'table table-responsive table-bordered'})
type(marathon_2019_tables)
len(marathon_2019_tables)
marathon_2019_list = pd.read_html(str(marathon_2019_tables[0])) # a list of dataframes
len(marathon_2019_list)
type(marathon_2019_list)
marathon_2019 = marathon_2019_list[0]  # get the first df from the list
marathon_2019.head(2)

<title> | Rock n Roll Marathon Series | Marathon Half Marathon Events</title>

   Overall    Bib            Name      Time
0        1  30001  Travis Peruski  01:37:54
1        2      1  Scott Wietecha  02:34:59

In [3]:
for i in range(2,114):
    marathon_2019
    page_str = str(i)
    marathon_2019_url = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Marathon/2019-Results?gender=&agegroup=&bib=&firstname=&lastname=&page=' + page_str
    marathon_2019_response = requests.post(marathon_2019_url)
    marathon_2019_bs = BeautifulSoup(marathon_2019_response.content, 'lxml')
    marathon_2019_tables = marathon_2019_bs.find_all('table', attrs = {'class': 'table table-responsive table-bordered'})
    marathon_2019_list = pd.read_html(str(marathon_2019_tables[0]))
    marathon_2019_page = marathon_2019_list[0]
    marathon_2019 = marathon_2019.append(marathon_2019_page, ignore_index = True)
marathon_2019.head(2)

   Overall    Bib            Name      Time
0        1  30001  Travis Peruski  01:37:54
1        2      1  Scott Wietecha  02:34:59

## 2018 marathon

In [4]:
marathon_2018 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Marathon/2018-Results?gender=&agegroup=&bib=&firstname=&lastname=&page=1'
marathon_2018 = requests.post(marathon_2018)
marathon_2018.status_code
marathon_2018 = BeautifulSoup(marathon_2018.content, 'lxml')
print(marathon_2018.title)
marathon_2018_tables = marathon_2018.find_all('table', attrs = {'class': 'table table-responsive table-bordered'})
type(marathon_2018_tables)
len(marathon_2018_tables)
marathon_2018_list = pd.read_html(str(marathon_2018_tables[0])) # a list of dataframes
len(marathon_2018_list)
type(marathon_2018_list)
marathon_2018 = marathon_2018_list[0]  # get the first df from the list
marathon_2018.head()

<title> | Rock n Roll Marathon Series | Marathon Half Marathon Events</title>

   Overall    Bib             Name      Time
0        1      1   Scott Wietecha  02:28:16
1        2      3     Garang Madut  02:29:52
2        3  33442       Kevin Fink  02:38:59
3        4  33441    Andrew Hodges  02:43:59
4        5  30028  Nicholas Aubert  02:48:11

In [5]:
for i in range(2,86):
    marathon_2018
    page_str = str(i)
    marathon_2018_url = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Marathon/2018-Results?gender=&agegroup=&bib=&firstname=&lastname=&page=' + page_str
    marathon_2018_response = requests.post(marathon_2018_url)
    marathon_2018_bs = BeautifulSoup(marathon_2018_response.content, 'lxml')
    marathon_2018_tables = marathon_2018_bs.find_all('table', attrs = {'class': 'table table-responsive table-bordered'})
    marathon_2018_list = pd.read_html(str(marathon_2018_tables[0]))
    marathon_2018_page = marathon_2018_list[0]
    marathon_2018 = marathon_2018.append(marathon_2018_page, ignore_index = True)
marathon_2018.head(2)

   Overall  Bib            Name      Time
0        1    1  Scott Wietecha  02:28:16
1        2    3    Garang Madut  02:29:52

## 2017 marathon

In [6]:
marathon_2017 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Marathon/2017-Results?gender=&agegroup=&bib=&firstname=&lastname=&page=1'
marathon_2017 = requests.post(marathon_2017)
marathon_2017.status_code
marathon_2017 = BeautifulSoup(marathon_2017.content, 'lxml')
print(marathon_2017.title)
marathon_2017_tables = marathon_2017.find_all('table', attrs = {'class': 'table table-responsive table-bordered'})
type(marathon_2017_tables)
len(marathon_2017_tables)
marathon_2017_list = pd.read_html(str(marathon_2017_tables[0])) # a list of dataframes
len(marathon_2017_list)
type(marathon_2017_list)
marathon_2017 = marathon_2017_list[0]  # get the first df from the list
marathon_2017.head(2)

<title> | Rock n Roll Marathon Series | Marathon Half Marathon Events</title>

   Overall   Bib            Name      Time
0        1     1  Scott Wietecha  02:40:25
1        2  1145    Ryan Regnier  02:56:28

In [7]:
for i in range(2,148):
    marathon_2017
    page_str = str(i)
    marathon_2017_url = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Marathon/2017-Results?gender=&agegroup=&bib=&firstname=&lastname=&page=' + page_str
    marathon_2017_response = requests.post(marathon_2017_url)
    marathon_2017_bs = BeautifulSoup(marathon_2017_response.content, 'lxml')
    marathon_2017_tables = marathon_2017_bs.find_all('table', attrs = {'class': 'table table-responsive table-bordered'})
    marathon_2017_list = pd.read_html(str(marathon_2017_tables[0]))
    marathon_2017_page = marathon_2017_list[0]
    marathon_2017 = marathon_2017.append(marathon_2017_page, ignore_index = True)
marathon_2017.head(2)

   Overall   Bib            Name      Time
0        1     1  Scott Wietecha  02:40:25
1        2  1145    Ryan Regnier  02:56:28

## 2016 marathon

In [8]:
marathon_2016 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Marathon/2016-Results?gender=&agegroup=&bib=&firstname=&lastname=&page=1'
marathon_2016 = requests.post(marathon_2016)
marathon_2016.status_code
marathon_2016 = BeautifulSoup(marathon_2016.content, 'lxml')
print(marathon_2016.title)
marathon_2016_tables = marathon_2016.find_all('table', attrs = {'class': 'table table-responsive table-bordered'})
type(marathon_2016_tables)
len(marathon_2016_tables)
marathon_2016_list = pd.read_html(str(marathon_2016_tables[0])) # a list of dataframes
len(marathon_2016_list)
type(marathon_2016_list)
marathon_2016 = marathon_2016_list[0]  # get the first df from the list
marathon_2016.head(2)

<title> | Rock n Roll Marathon Series | Marathon Half Marathon Events</title>

   Overall  Bib            Name      Time
0        1    1  Scott Wietecha  02:25:42
1        2    3   Brian Shelton  02:34:43

In [9]:
for i in range(2,155):
    marathon_2016
    page_str = str(i)
    marathon_2016_url = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Marathon/2018-Results?gender=&agegroup=&bib=&firstname=&lastname=&page=' + page_str
    marathon_2016_response = requests.post(marathon_2016_url)
    marathon_2016_bs = BeautifulSoup(marathon_2016_response.content, 'lxml')
    marathon_2016_tables = marathon_2016_bs.find_all('table', attrs = {'class': 'table table-responsive table-bordered'})
    marathon_2016_list = pd.read_html(str(marathon_2016_tables[0]))
    marathon_2016_page = marathon_2016_list[0]
    marathon_2016 = marathon_2016.append(marathon_2016_page, ignore_index = True)
marathon_2016.head(2)

  Overall Bib            Name      Time
0       1   1  Scott Wietecha  02:25:42
1       2   3   Brian Shelton  02:34:43

## 2019 half marathon

In [22]:
# half_marathon_2019 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Half-Marathon/2019-Results?gender=&agegroup=&bib=&firstname=&lastname=&page=1'
# half_marathon_2019 = requests.post(half_marathon_2019)
# half_marathon_2019.status_code
# half_marathon_2019 = BeautifulSoup(half_marathon_2019.content, 'lxml')
# print(half_marathon_2019.title)
# half_marathon_2019_tables = half_marathon_2019.find_all('table', attrs = {'class': 'table table-responsive table-bordered'})
# type(half_marathon_2019_tables)
# len(half_marathon_2019_tables)
# half_marathon_2019_list = pd.read_html(str(half_marathon_2019_tables[0]))
# len(half_marathon_2019_list)
# type(half_marathon_2019_list)
# half_marathon_2019 = half_marathon_2019_list[0]
# half_marathon_2019.head(2)

In [23]:
# for i in range(2,691):
#     marathon_2019
#     page_str = str(i)
#     marathon_2019_url = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Half-Marathon/2019-Results?gender=&agegroup=&bib=&firstname=&lastname=&page=' + page_str
#     marathon_2019_response = requests.post(marathon_2019_url)
#     marathon_2019_bs = BeautifulSoup(marathon_2019_response.content, 'lxml')
#     marathon_2019_tables = marathon_2019_bs.find_all('table', attrs = {'class': 'table table-responsive table-bordered'})
#     marathon_2019_list = pd.read_html(str(marathon_2019_tables[0]))
#     marathon_2019_page = marathon_2019_list[0]
#     marathon_2019 = marathon_2019.append(marathon_2019_page, ignore_index = True)
# marathon_2019.head(2)

## 2018 half marathon

In [21]:
# half_marathon_2018 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Half-Marathon/2018-Results?gender=&agegroup=&bib=&firstname=&lastname=&page=1'
# half_marathon_2018 = requests.post(half_marathon_2018)
# half_marathon_2018.status_code
# half_marathon_2018 = BeautifulSoup(half_marathon_2018.content, 'lxml')
# print(half_marathon_2018.title)
# half_marathon_2018_tables = half_marathon_2018.find_all('table', attrs = {'class': 'table table-responsive table-bordered'})
# type(half_marathon_2018_tables)
# len(half_marathon_2018_tables)
# half_marathon_2018_list = pd.read_html(str(half_marathon_2018_tables[0])) # a list of dataframes
# len(half_marathon_2018_list)
# type(half_marathon_2018_list)
# half_marathon_2018 = half_marathon_2018_list[0]  # get the first df from the list
# half_marathon_2018.head(2)

In [20]:
# for i in range(2,599):
#     half_marathon_2018
#     page_str = str(i)
#     half_marathon_2018_url = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Half-Marathon/2018-Results?gender=&agegroup=&bib=&firstname=&lastname=&page=' + page_str
#     half_marathon_2018_response = requests.post(half_marathon_2018_url)
#     half_marathon_2018_bs = BeautifulSoup(half_marathon_2018_response.content, 'lxml')
#     half_marathon_2018_tables = half_marathon_2018_bs.find_all('table', attrs = {'class': 'table table-responsive table-bordered'})
#     half_marathon_2018_list = pd.read_html(str(half_marathon_2018_tables[0]))
#     half_marathon_2018_page = half_marathon_2018_list[0]
#     half_marathon_2018 = half_marathon_2018.append(half_marathon_2018_page, ignore_index = True)
# half_marathon_2018.head(2)

## 2017 half marathon

In [19]:
# half_marathon_2017 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Half-Marathon/2017-Results?gender=&agegroup=&bib=&firstname=&lastname=&page=1'
# half_marathon_2017 = requests.post(half_marathon_2017)
# half_marathon_2017.status_code
# half_marathon_2017 = BeautifulSoup(half_marathon_2017.content, 'lxml')
# print(half_marathon_2017.title)
# half_marathon_2017_tables = half_marathon_2017.find_all('table', attrs = {'class': 'table table-responsive table-bordered'})
# type(half_marathon_2017_tables)
# len(half_marathon_2017_tables)
# half_marathon_2017_list = pd.read_html(str(half_marathon_2017_tables[0])) # a list of dataframes
# len(half_marathon_2017_list)
# type(half_marathon_2017_list)
# half_marathon_2017 = half_marathon_2017_list[0]  # get the first df from the list
# half_marathon_2017.head(2)

In [16]:
# for i in range(2,893):
#     half_marathon_2017
#     page_str = str(i)
#     half_marathon_2017_url = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Half-Marathon/2017-Results?gender=&agegroup=&bib=&firstname=&lastname=&page=' + page_str
#     half_marathon_2017_response = requests.post(half_marathon_2017_url)
#     half_marathon_2017_bs = BeautifulSoup(half_marathon_2017_response.content, 'lxml')
#     half_marathon_2017_tables = half_marathon_2017_bs.find_all('table', attrs = {'class': 'table table-responsive table-bordered'})
#     half_marathon_2017_list = pd.read_html(str(half_marathon_2017_tables[0]))
#     half_marathon_2017_page = half_marathon_2017_list[0]
#     half_marathon_2017 = half_marathon_2017.append(half_marathon_2017_page, ignore_index = True)
# half_marathon_2017.head(2)

## 2016 half marathon

In [17]:
# half_marathon_2016 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Half-Marathon/2016-Results?gender=&agegroup=&bib=&firstname=&lastname=&page=1'
# half_marathon_2016 = requests.post(half_marathon_2016)
# half_marathon_2016.status_code
# half_marathon_2016 = BeautifulSoup(half_marathon_2016.content, 'lxml')
# print(half_marathon_2016.title)
# half_marathon_2016_tables = half_marathon_2016.find_all('table', attrs = {'class': 'table table-responsive table-bordered'})
# type(half_marathon_2016_tables)
# len(half_marathon_2016_tables)
# half_marathon_2016_list = pd.read_html(str(half_marathon_2016_tables[0])) # a list of dataframes
# len(half_marathon_2016_list)
# type(half_marathon_2016_list)
# half_marathon_2016 = half_marathon_2016_list[0]  # get the first df from the list
# half_marathon_2016.tail(2)

In [18]:
# for i in range(2,899):
#     half_marathon_2016
#     page_str = str(i)
#     half_marathon_2016_url = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Half-Marathon/2016-Results?gender=&agegroup=&bib=&firstname=&lastname=&page=' + page_str
#     half_marathon_2016_response = requests.post(half_marathon_2016_url)
#     half_marathon_2016_bs = BeautifulSoup(half_marathon_2016_response.content, 'lxml')
#     half_marathon_2016_tables = half_marathon_2016_bs.find_all('table', attrs = {'class': 'table table-responsive table-bordered'})
#     half_marathon_2016_list = pd.read_html(str(half_marathon_2016_tables[0]))
#     half_marathon_2016_page = half_marathon_2016_list[0]
#     half_marathon_2016 = half_marathon_2016.append(half_marathon_2016_page, ignore_index = True)
# half_marathon_2016.tail(2)

In [24]:
# half_marathon_2019.head

In [25]:
# half_marathon_2018.head

In [26]:
# half_marathon_2017.head

In [27]:
# half_marathon_2016.head

In [29]:
marathon_2019.head()

   Overall    Bib            Name      Time
0        1  30001  Travis Peruski  01:37:54
1        2      1  Scott Wietecha  02:34:59
2        3      4   Jordan Wilson  02:35:24
3        4  30034  Steelton Flynn  02:39:59
4        5  30035    Thomas Ellis  02:42:09

In [30]:
marathon_2018.head()

   Overall    Bib             Name      Time
0        1      1   Scott Wietecha  02:28:16
1        2      3     Garang Madut  02:29:52
2        3  33442       Kevin Fink  02:38:59
3        4  33441    Andrew Hodges  02:43:59
4        5  30028  Nicholas Aubert  02:48:11

In [31]:
marathon_2017.head()

   Overall   Bib            Name      Time
0        1     1  Scott Wietecha  02:40:25
1        2  1145    Ryan Regnier  02:56:28
2        3  1147  Daniel Everett  03:00:55
3        4  1029   Khris Vickroy  03:04:47
4        5  1119  Marcus Dilallo  03:04:53

In [32]:
marathon_2016.head()

  Overall   Bib               Name      Time
0       1     1     Scott Wietecha  02:25:42
1       2     3      Brian Shelton  02:34:43
2       3  1047  Christopher Capps  02:38:43
3       4  1052       Jason Grimes  02:45:06
4       5  1046        David Adams  02:47:28

In [130]:
wietecha = {'Name': ['Scott Wietecha', 'Scott Wietecha', 'Scott Wietecha'],
        'Overall': [1, 1, 1],
        'Time': ['2:25:27', '2:40:25', '2:28:16'],
        'Year': [2016, 2017, 2018]}

wietecha = pd.DataFrame(wietecha, columns = ['Overall', 'Name', 'Time', 'Year'])
wietecha

   Overall            Name     Time  Year
0        1  Scott Wietecha  2:25:27  2016
1        1  Scott Wietecha  2:40:25  2017
2        1  Scott Wietecha  2:28:16  2018

In [131]:
khayyam = {'Name': ['Theresa Khayyam', 'Theresa Khayyam', 'Theresa Khayyam'],
        'Overall': [2106, 2221, 2106],
        'Time': ['6:51:56', '5:41:21', '6:51:56'],
        'Year': [2016, 2017, 2018]}

khayyam = pd.DataFrame(khayyam, columns = ['Overall', 'Name', 'Time', 'Year'])
khayyam

   Overall             Name     Time  Year
0     2106  Theresa Khayyam  6:51:56  2016
1     2221  Theresa Khayyam  5:41:21  2017
2     2106  Theresa Khayyam  6:51:56  2018